.home-content{
    display: flex;
    flex-direction: column;
    gap: 1%;
}

.home-wrapper{
    
    flex-grow: 1;
    box-sizing: border-box; 
    background: rgb(18,18,18);
background: linear-gradient(357deg, rgba(18,18,18,1) 26%, rgba(36,26,12,1) 62%, rgba(138,18,18,1) 100%);
    
    overflow-y: auto;
    border-radius: 10px;
}
.home-layout{
    display: flex;
    height: calc(100vh - 90px);
    gap: 8px;
    padding: 30px 8px 0px 8px;
    box-sizing: border-box;
}
